* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #111;
}

.banner-container {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  flex-wrap: wrap;
}

.banner {
  flex: 1;
  min-width: 320px;
  border-radius: 20px;
  color: #fff;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner img {
  width: 45%;
  height: auto;
}

.banner.blue {
  background: radial-gradient(circle at center, #3a83f9 0%, #0056e0 100%);
}

.banner.darkblue {
  background: linear-gradient(135deg, #0b1c66, #0e2766);
}

.banner .text {
  width: 50%;
}

.banner h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.banner p {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  opacity: 0.9;
}

.banner button {
  background: #0839ad;
  border: none;
  color: #fff;
  padding: 0.8rem 1.6rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.banner button:hover {
  background-color: #002c8d;
}

main {
  padding: 2rem;
}

main h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.cars {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.car-card#card1 img {
  margin-bottom: 15px;
  padding-bottom: 2px;

}

.car-card#card2 img {
  transform: scaleX(-1);
  margin-top: -25px;
}

.car-card#card2 .inf {
  margin-top: -31px;
}

.car-card .type, .car-card h3 {
  text-align: start;
  ;
}

.car-card#card3 img{
  transform: scaleX(-1);
  margin-bottom: -45px;
  margin-top: -15px;
  
}

.car-card#card4 img {
  margin-top: -8px;
  padding-bottom: 35px;

}

.car-card {
  background: #fff;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.car-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.car-card img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;

}

.car-card h3 {
  font-size: 1.2rem;
  padding-top: 15px ;
}

.car-card .type {
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
}



.details {
  display: flex;
  justify-content: space-around;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #444;
}

.price {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.price span {
  font-size: 0.8rem;
  color: #666;
}

.car-card button {
  margin-bottom: 20px;
  background-color: #0839ad;
  border: none;
  color: white;
  padding: 0.7rem 1.4rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.car-card button:hover {
  background-color: #002c8d;
}