<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AgendaCar</title>
    <link rel="stylesheet" href="../static/Aluguel.css" />
  </head>
  <body>
    <header class="banner-container">
      <div class="banner blue">
        <div class="text">
          <h1>O melhor com o melhor, AgendaCar</h1>
          <p>
            O vento soprava devagar, trazendo o cheiro de café recém-passado da
            casa da esquina.
          </p>
          <button>Alugar</button>
        </div>
        <img src="../img/porsche.png" alt="Porsche 911" />
      </div>

      <div class="banner darkblue">
        <div class="text">
          <h1>AgendaCar, melhores preços do mercado</h1>
          <p>
            O vento soprava devagar, trazendo o cheiro de café recém-passado da
            casa da esquina.
          </p>
          <button>Alugar</button>
        </div>
        <img src="../img/comprar-sense-200-tsi-automatica_5b696e8da4.png" alt="T-Cross" />
      </div>
    </header>

    <main>
      <h2>Carros populares</h2>
      <section class="cars">
        <div class="car-card" id="card1">
          <h3>Porsche 911</h3>
          <p class="type">Sport</p>
          <img src="../img/porsche.png" alt="Porsche 911" />
          <div class="details">
            <span>🛢️ 64L</span>
            <span>⚙️ Automático</span>
            <span>👥 2 Pessoas</span>
          </div>
          <p class="price">R$3.500<span>/dia</span></p>
          <button>Alugue agora</button>
        </div>

        <div class="car-card" id="card2">
          <h3>T-Cross</h3>
          <p class="type">SUV</p>
          <img
            src="../img/comprar-sense-200-tsi-automatica_5b696e8da4.png"
            alt="T-Cross"
          />
          <div class="inf">
            <div class="details">
              <span>🛢️ 52L</span>
              <span>⚙️ Automático</span>
              <span>👥 5 Pessoas</span>
            </div>
            <p class="price">R$200<span>/dia</span></p>
            <button>Alugue agora</button>
          </div>
        </div>

        <div class="car-card" id="card3">
          <h3>Civic Type-R</h3>
          <p class="type">Sport</p>
          <img src="../img/C462088_GA_Side.avif" alt="Civic Type-R" />
          <div class="details">
            <span>🛢️ 47L</span>
            <span>⚙️ Manual</span>
            <span>👥 4 Pessoas</span>
          </div>
          <p class="price">R$3.500<span>/dia</span></p>
          <button>Alugue agora</button>
        </div>

        <div class="car-card" id="card4">
          <h3>Silverato</h3>
          <p class="type">Picape</p>
          <img
            src="../img/2024-Silverado-EV-hero.avif"
            alt="Silverato"
          />
          <div class="details">
            <span>🛢️ 91L</span>
            <span>⚙️ Automático</span>
            <span>👥 5 Pessoas</span>
          </div>
          <p class="price">R$800<span>/dia</span></p>
          <button>Alugue agora</button>
        </div>
      </section>
    </main>
  </body>
</html>
